@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  @apply text-blue-500 hover:text-blue-800;
}

* {
  box-sizing: border-box;
}

.card {
  @apply mb-5  block   rounded-lg border border-gray-200  shadow-md;
}

/* Primary button for clothing site */
.primary-button {
  @apply rounded bg-blue-500 py-2  px-4 text-white shadow outline-none hover:bg-blue-600  active:bg-blue-700;
}

/* Secondary button for clothing site */
.secondary-button {
  @apply rounded bg-gray-500 py-2  px-4 text-white shadow outline-none hover:bg-gray-600  active:bg-gray-700;
}

/* Default button for clothing site */
.default-button {
  @apply rounded bg-gray-500 py-2  px-4 text-white shadow outline-none hover:bg-gray-600  active:bg-gray-700;
}

/* BEAUTIFUL UI FOR CLOTHING SITE */
input,
select,
textarea {
  @apply rounded border p-2  outline-none ring-indigo-300  focus:ring;
}

/* Beautiful dropdown-link */
.dropdown-link {
  @apply block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900;
}