@tailwind base;
@tailwind components;
@tailwind utilities;


 

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  @apply text-blue-600 hover:text-blue-800;
}

* {
  box-sizing: border-box;
}

.card {
  @apply mb-5  block   rounded-lg border border-gray-200  shadow-md;
}

/* Primary button for clothing site */
.primary-button {
  @apply rounded bg-blue-500 py-2  px-4 text-white shadow outline-none hover:bg-blue-600  active:bg-blue-700;
}

/* Secondary button for clothing site */
.secondary-button {
  @apply rounded bg-gray-500 py-2  px-4 text-white shadow outline-none hover:bg-gray-600  active:bg-gray-700;
}

/* Default button for clothing site */
.default-button {
  @apply rounded bg-gray-500 py-2  px-4 text-white shadow outline-none hover:bg-gray-600  active:bg-gray-700;
}
